@model Wypozyczalnia_sprzetu_budowlanego.Models.Category

@{
    ViewData["Title"] = "Details";
}

<h1>Szczegóły</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NazwaKategorii)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NazwaKategorii)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdCategory">Edytuj</a> |
    <a asp-action="Index">Wstecz</a>
</div>
